<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <h1>Contact Page </h1>
        <a class="btn btn-default" id="btnGetRepos" href="#" role="button">Contact Information </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <br />
        <div id="reposInfo">
            <small>contact us </small>
        </div>
    </div>
</div>